<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs')%>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-12  border ">
           <%- include('./left.ejs')%>
        </div>
        <div class="col-lg-10 border border-primary">
          
            <h1 class="text-center text-warning fs-1 mt-5 py-5 ">WELCOME TO DASHBOARD</h1>
            

            
        </div>
    </div>
</div>

    
</body>
</html>