<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <%- include('./header.ejs')%>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <%- include('./left.ejs')%>
        </div>

        <div class="col-lg-10">



            <table class="table table-bordered ">

                <tr>
                  <th>name</th>
                  <th> price</th>
                  <th> discount</th>
                  <th>action</th>
                  <th colspan="2">action</th>
                </tr>
      
               
                  <tr>
                    <td>
                   
                    </td>
                    <td>
                     
                    </td>
                    <td>
                   
                    </td>
                    <td>
                     
                    </td>
                    <td>
                   
                    </td>
                    <td>
                  
                    </td>
              
            
                 
                  </tr>
                  </table>

                

        </div>
    </div>
</div>

</body>
</html>