<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about us</title>
</head>

<body>
 <%- include('./common/header.ejs')%>


  <!-- <h1 class="text-center text-warning">THIS IS ABOUT PAGE </h1> -->
  <!-- about1  -->
  <div class="about">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-lg-5 mx-auto text-center abt-1">
          <h2 class="text-center lead  h2_ap1 py-5 animate__animated animate__backInLeft">WELCOME</h2>
          <p class="py-3  p_ap1">TO</p>
          <img src="png/brand_logo.png" width="150px">
        </div>
      </div>
    </div>
  </div>

  <!--about1  -->

  <!-- about2 -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 m-auto text-center mt-sm-2">
        <h1 class="h_5 animate__animated animate__fadeInUp animate__delay-3s h1-product">ABOUT US</h1>
        <img src="png/divider.png" width="120px">

      </div>
    </div>
  </div>

  <!-- about2 -->

  <!-- SINCE SECTION START -->

  <div class="container mt-lg-4">

    <div class="row g-0 ">

      <!-- col-6 start -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-12  m-auto text-center abt-2  p-3">
        <img src="png/brand_logo.png" width="150px">

      </div>
      <!-- col-6 end -->

      <!-- col-6 start -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mx-auto text-end img " id="card1">

        <div class="card border-0 rounded-0 ">
          <div class="card-body">
            <img src="image/aboutbg1.jpg" class="img-fluid">
          </div>
        </div>

      </div>
      <!-- col-6 end -->

    </div>
    <!-- row section end -->
  </div>
  <!-- container section end -->

  <!-- SINCE SECTION END -->

  <!-- founder section -->

  <!-- about2 -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 m-auto text-center mt-sm-2">
        <h1 class="h_5 animate__animated animate__fadeInUp animate__delay-3s h1-product">OUR FOUNDERS</h1>
        <img src="png/divider.png" width="120px">

      </div>
    </div>
  </div>

  <!-- about2 -->


  <!-- founder section -->

  <div class="container-fluid">
    <div class="row g-0">

      <div class="col-lg-6 col-md-12 col-sm-12  mx-auto text-center img">
        <div class="card  ">
          <div class="card-body">
            <img src="image/founder1.avif" class="img-fluid">
            <h3 class="card-title fs-4 ">ROHAN CHAUHAN</h3>
            <h4>MANAGING DIRECTOR</h4>

          </div>
        </div>
      </div>


      <div class="col-lg-6 col-md-12 col-sm-12  mx-auto text-center img">
        <div class="card   ">
          <div class="card-body">
            <img src="image/founder2.avif" class="img-fluid">
            <h3 class="card-title fs-4 ">RAJEEV CHAUHAN</h3>
            <h4>EXECUTIVE DIRECTOR</h4>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- craftmanship -->
  <div class="craftmanship">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <P class="p-craft lead py-5">CRAFTMANSHIP
          <P>
          <h3 class="h3-craft ">THE REAL HARDWORK OF OUR <br> <span class="fs-1">SUCCESS</span></h3>
        </div>
      </div>
    </div>
  </div>
  <!-- craftmanship end -->

  <!-- craftmanship2 -->

  <div class="container py-3">
    <div class="row py-3">
      <!--col-lg-6 start  -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 m-auto text-left " id="card2">
        <div class="card border-0 rounded-0 card3">
          <div class="card-body">
            <img src="png/about6.png" class="img-fluid ">
          </div>
        </div>
      </div>
      <!--col-lg-6 end  -->

      <!-- col-lg-6 start -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-12  m-auto text-center  p-3">
        <h5>CHAUHAN JEWELLERS</h5>
        <p class="">
          CHAUHAN JEWELLERS have now been acclaimed jewelers for seven generations. Though It is known that the family
          first came to DELHI in 1948, the remaining history of CHAUHAN JEWELLERS has been lost in the mists of time. As
          well as attracting the country’s highest intelligentsia, the Maharaja invited the finest artists and craftsmen
          from all over India to help build his now famous IN DELHI It was then that The CHAUHAN JEWELLERS were
          appointed as the official Crown Jewellers.</p>

      </div>

    </div>
    <!-- row section end -->
  </div>
  <!-- container section end -->

  <!-- craftmanship2 -->

  <!-- craftmanship3 -->

  <div class="container py-3">
    <div class="row py-3">
      <!-- col-lg-6 start -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-12  m-auto text-center  p-3" >
        <h5>CHAUHAN JEWELLERS</h5>
        <p class="">
          CHAUHAN JEWELLERS have now been acclaimed jewelers for seven generations. Though It is known that the family
          first came to DELHI in 1948, the remaining history of CHAUHAN JEWELLERS has been lost in the mists of time. As
          well as attracting the country’s highest intelligentsia, the Maharaja invited the finest artists and craftsmen
          from all over India to help build his now famous IN DELHI It was then that The CHAUHAN JEWELLERS were
          appointed as the official Crown Jewellers.</p>
      </div>

      <!--col-lg-6 start  -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 m-auto text-left" id="card3">
        <div class="card border-0 rounded-0 card4">
          <div class="card-body">
            <img src="png/about7.png" class="img-fluid ">
          </div>
        </div>
      </div>
      <!--col-lg-6 end  -->


    </div>
    <!-- row section end -->
  </div>
  <!-- container section end -->

  <!-- craftmanship 3 -->

  <!-- CRAFTMANSHIP 4 -->


  <!-- CHAUHAN PARADISE SECTION START -->
  <div class="container mt-4">
    <div class="row py-3">


      <div class="col-lg-5 col-md-12 col-sm-12 col-12 mx-auto text-center">
        <!-- <button class="btn btn-outline-dark  rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">MORE DETAILS</button> -->

        <p>DISCOVER MORE</p>
        <a class="btn btn-dark" href="#" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"><img src="png/download.png"></a>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight"
          aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">

            <!-- ////////////////// -->

            <div class="my-3 my-lg-0">
              <img src="png/brand_logo.png" width="100px">
            </div>

            <div class="pt-3">
              <ul class="nav nav-pills mb-3 justify-content-center justify-content-lg-between" id="pills-tab"
                role="tablist">

                <li class="nav-item" role="presentation">
                  <button class="btn btn-dark  active" id="pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                    aria-selected="true">VISIT US</button>
                </li>

                <li class="nav-item" role="presentation">
                  <button class="btn btn-dark " id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                    aria-selected="false">CONTACT US</button>
                </li>

            



              </ul>
              <div class="col-lg-3 col-md-6 col-sm-12 col-12  text-start">
                <h4 class="   text-start  text-dark fw-light  ">CONTACT US</h4>
                <h6 class=" text-start text-white fw-light">OUR SHOWROOM </h6>
                <span class="footer-span"><i class="bi bi-bar-chart-fill"></i> DLF, J-Tower,Sec-3 Gurgaon</span><br><br>

              </div>

              <!--  -->


              <!--  -->
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                tabindex="0">

                <span class="d-inline-flex justify-content-center align-items-center   footer-span"><i
                    class="bi bi-envelope"></i>chauhanjewels.in</span><br><br>
                <span class="d-inline-flex justify-content-center align-items-center footer-span">
                  <a class="btn " type="button" href="tel:011-34343467;"><i class="bi bi-telephone "></i></a>call
                  us</span>

              </div>

              

            </div>
          </div>
        
          <!-- ////////////////////////// -->
        </div>
      </div>
    </div>


  </div>


  </div>
  <!-- container section end -->




  <!-- CHAUHAN PARADISE SECTION END -->


  <!-- CRAFTMANSHIP 4 -->

  <%- include('./common/footer.ejs')%>


</body>

</html>