<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>

<body>

<header> <%- include ('./common/header.ejs')%>  </header>
        
  <!--//////////////// section start   ////////////////////////////////////////////////////// -->

  <section>
    <div class="container py-sm-5 ">
      <div class="row py-5 mt-sm-5">

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 m-auto mt-sm-5 text-center">
          <h1 class="h-section animate__animated animate__backInUp fw-bold">CHAUHAN JEWELLERS</h1>
          <p class="p-section fw-bold"> FINE JEWELLERY SINCE 1950</p>
        </div>

      </div>
    </div>

  </section>
  <!--//////////////////////// SECTION END////////////////////////////////// -->

  <!--  about cartier details start-->

  <div class="container ">
    <div class="row mt-lg-4">

      <div class="col-lg-6 col-md-12 col-sm-12 col-12 m-auto text-center mt-sm-2 section1">
        <img src="png/brand_logo.png" width="150px">
        <!-- <h1 class="h_5 animate__animated animate__fadeInUp animate__delay-3s">CARTIER</h1> -->

      </div>
    </div>

    <div class="row mt-2">
      <div class="col-lg-10 col-md-12 col-sm-12 col-12  m-auto text-center bg-1  p-5">
        <h2 class="h2_legacy" id="hi">Legacy of CHAUHAN</h2>
        <hr / class="m-auto line mt-4 w-25">
        <p class=" p_legacy text-white fw-500 lead">
          CHAUHAN is a name synonymous with the legacy of skilled craftsmanship, unique designs, and commitment towards
          customer satisfaction through superior product quality and transparency. <br><br>

          The journey of CHAUHAN started four generations ago and has evolved into a brand identity that is known for
          designs that combine traditional sensibilities and modern perspectives.<br><br>

          CHAUHAN jewellery embodies each and every precious moment in a woman's life and thus enjoys the honour of
          being the go-to brand for jewellery for the defining moments of life.<br>

          Craftsmanship and quality are the hallmarks of CHAUHAN. From making to marketing, trust and transparency are
          integral to the process that ultimately delivers unparalleled customer satisfaction and ensures the dignity of
          the skilled artisans who toiled to create each masterpiece.</p>
        <div class="text-center">
          <a class="btn btn-outline-dark btn1 btn-sm" href="about" role="button">Read More</a>
        </div>
      </div>

    </div>



  </div>

  <!-- about cartier details end-->

  <!-- second detail start -->

  <div class="container py-2">
    <div class="row py-2">

      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mx-auto text-center border">
        <img src="image/modelwebp.webp" class="img-fluid">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mx-auto text-center border bg">
        <h2 class="h2-details">WHY CHAUHAN JEWELLERS</h2>
        <P class="p-details">To accents the feminine beauty of women, CHAUHA jewellers is the top Jewellers in Jaipur.
          They crafted beautiful indian jewellery in gold with embeded gemstones and diamonds. CHAUHAN excel in Kundan
          Meena jewelry and in studdingthe uncut diamonds &other natural gemstones in Gold.CHAUHAN jewellers is one the
          best Jewellers in Delhi that has a wide range of Kundan Meenakari Jewellery. In the Wedding jewellery
          collection of Surana jewelers, they Stud uncut diamonds, emeralds, rubies & sapphires, while the enameling the
          sides & the back of the precious jewelry piecework.In the Wedding jewellery collection of CHAUHAN jewelers,
          they Stud uncut diamonds, emeralds, rubies & sapphires, while the enameling the sides & the back of the
          precious jewelry piecework.</P>
      </div>

    </div>
  </div>

  <!-- second detail end -->

  <!-- products section start -->

  <div class="container border">
    <!-- product row 1 start -->
    <div class="row mt-lg-4">

      <div class="col-lg-6 col-md-12 col-sm-12 col-12 m-auto text-center mt-sm-2 img">
        <h1 class="h_5 h1-product">PRODUCTS</h1>
       <a href="gallery"><img src="png/divider.png"  width="120px"></a>

      </div>
    </div>

    <!-- product row 1 end -->
    <!-- prdouct row 2 start -->
 
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12 col-12 mx-auto text-center img" id="card4">
        <div class="card card1  card-1">
          <div class="card-body">
            <a href="gallery"><img src="image/highjewel1.avif" class="img-fluid "></a>
            <h1> </h1>
            <h4 class="card-product fs-4 h4_product mt-1" ></h4>
            <h6 class="h6_products">Rs 78ooo </h6>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12  col-12  mx-auto text-center img" id="card5">
        <div class="card  card-1">
          <div class="card-body">
           <a href="gallery"> <img src="image/highjewel2.avif" class="img-fluid"></a>
            <h4 class="card-product fs-4 h4_product  mt-1">DIAMOND</h4>
            <h6 class="h6_products">Rs 8oooo</h6>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-12   mx-auto text-center img" id="card6">
        <div class="card  card-1">
          <div class="card-body">
            <a href="gallery"><img src="image/fine_jewel5.avif" class="img-fluid "></a>
            <h4 class="card-product fs-4 h4_product  mt-1">FINE</h4>
            <h6 class="h6_products">Rs 65ooo</h6>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-12   mx-auto text-center img" id="card6">
        <div class="card  card-1">
          <div class="card-body">
           <a  href="gallery"> <img src="image/earring1.jpg" class="img-fluid "></a>
            <h4 class="card-product fs-4 h4_product  mt-1">GOLD</h4>
            <h6 class="h6_products">Rs 4oooo</h6>
          </div>
        </div>
      </div>



    </div>
    <!--product row 2 end-->

  <!-- products section end -->


  <!-- banner section start -->

  <div class="container py-3">
    <div class="row py-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto text-center border">
        <p class="p-banner">CHAUHAN JEWELLERS is a Globally Renowned , Respected ,and Coveted Luxury Jewellers Brand
          Since 1950</p>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 banner mx-auto text-center">
        <h2 class="text-center py-5 mt-lg-5 h h2-banner">CHAUHAN JEWELLERS</h2>
      </div>
    </div>

  </div>
  <!-- banner section end -->


  <!-- multi carousel section start -->

  <!-- carousel main container start -->
  <div class="container-fluid">
    <!-- carousel main row  start -->
    <div class="row">

      <div class="col-lg-12  mx-auto">
        <p class="text-center p-carousel">CHOOSE FROM THE FINEST DIAMONDS</p>
      </div>

      <!-- main CAROUSEL COL-12 START   -->
      <div class="col-lg-12">
        <!-- main carousel start -->
        <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
          <!-- carousel inner start-->
          <div class="carousel-inner">
            <!-- carousel item start -->
            <div class="carousel-item active" data-bs-intervel="5000">
              <!-- carousal inner container 1 strt -->
              <div class="container mt-5">
                <!--carousal inner row 1 start  -->
                <div class="row justify-content-center">


                  <!-- col-lg-3 start -->
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12 ">

                    <!-- card start -->
                    <div class="card text-center card1diamond border rounded-circle">
                      <div class="card-body">
                        <img src="image/diamond1.avif" class="card-img-top img-fluid">
                      </div>
                    </div>
                    <!--card end -->
                  </div>
                  <!-- col-lg-3 end -->

                  <!-- col-lg-3 start -->
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12 ">

                    <!-- card start -->
                    <div class="card text-center card1diamond border rounded-circle">
                      <div class="card-body">
                        <img src="image/diamond2.avif" class="card-img-top img-fluid">
                      </div>
                    </div>
                    <!--card end -->
                  </div>
                  <!-- col-lg-3 end -->

                  <!-- col-lg-3 start -->
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12 ">

                    <!-- card start -->
                    <div class="card text-center card1diamond border rounded-circle">
                      <div class="card-body">
                        <img src="image/diamond3.avif" class="card-img-top img-fluid">
                      </div>
                    </div>
                    <!--card end -->
                  </div>
                  <!-- col-lg-3 end -->

                  <!-- col-lg-3 start -->
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12 ">

                    <!-- card start -->
                    <div class="card text-center card1diamond border rounded-circle">
                      <div class="card-body">
                        <img src="image/diamond1.avif" class="card-img-top img-fluid">
                      </div>
                    </div>
                    <!--card end -->
                  </div>
                  <!-- col-lg-3 end -->


                </div>
                <!--carousal inner row 1 end  -->

              </div>
              <!-- carousal inner container 1 end -->

            </div>
            <!-- carousel item end -->

            <!-- carousel item start -->
            <div class="carousel-item active" data-bs-intervel="5000">
              <!-- carousal inner container 1 strt -->
              <div class="container mt-5">
                <!--carousal inner row 1 start  -->
                <div class="row justify-content-center">


                  <!-- col-lg-3 start -->
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">

                    <!-- card start -->
                    <div class="card text-center card1diamond border rounded-circle ">
                      <div class="card-body">
                        <img src="image/diamond1.avif" class="card-img-top img-fluid">
                      </div>
                    </div>
                    <!--card end -->
                  </div>
                  <!-- col-lg-3 end -->

                  <!-- col-lg-3 start -->
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12   img ">

                    <!-- card start -->
                    <div class="card text-center card1diamond border rounded-circle">
                      <div class="card-body">
                        <img src="image/diamond2.avif" class="card-img-top img-fluid">
                      </div>
                    </div>
                    <!--card end -->
                  </div>
                  <!-- col-lg-3 end -->

                  <!-- col-lg-3 start -->
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12  img ">

                    <!-- card start -->
                    <div class="card text-center card1diamond border rounded-circle card-1">
                      <div class="card-body">
                        <img src="image/diamond3.avif" class="card-img-top img-fluid">
                      </div>
                    </div>
                    <!--card end -->
                  </div>
                  <!-- col-lg-3 end -->

                  <!-- col-lg-3 start -->
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12  img ">

                    <!-- card start -->
                    <div class="card text-center card1diamond border rounded-circle card-1">
                      <div class="card-body">
                        <img src="image/diamond1.avif" class="card-img-top ">

                      </div>
                    </div>
                    <!--card end -->
                  </div>
                  <!-- col-lg-3 end -->


                </div>
                <!--carousal inner row 1 end  -->

              </div>
              <!-- carousal inner container 1 end -->

            </div>
            <!-- carousel item end -->


          </div>
          <!-- carousel inner end-->
        </div>
        <!-- main carousel end -->

      </div>
      <!-- main CAROUSEL COL-12 END   -->
    </div>
    <!-- carousel main row  end -->
  </div>
  <!-- carousel main container end -->



  <!-- multi carousel section end -->

  <!-- section -->

  <div class="container py-5">

    <div class="row py-5">

      <div class="col-lg-4 border">
        <img src="image/earringprdt.webp" class="img-fluid ">

      </div>

      <div class="col-lg-4 border mx-auto text-center imgcarousel ">

        <img src="png/brand_logo.png" class="mt-lg-5">
      </div>

      <div class="col-lg-4 border">

        <img src="image/necklaceprdt.webp" class="img-fluid">
      </div>

      <div class="col-lg-4 border">
        <img src="image/model3.webp" class="img-fluid">

      </div>

      <div class="col-lg-4 border mx-auto text-center">

        <h2 class="h_animation mt-lg-5"> VISIT US TO SEE <br><span class="change_content "></span></h2>
      </div>

      <div class="col-lg-4 border">

        <img src="image/model4.webp" class="img-fluid">
      </div>

    </div>
  </div>

  <!-- section -->

  <!-- our popular product start -->

  <div class="container py-3">
    <div class="row py-3">
      <div class="col-lg-3 text-start ">
        <span class="left-hr d-block"></span>
      </div>
      <div class="col-lg-6 text-center ">
        <h2 class="mt-1 text-center fs-2 mt-2 p-carousel">Our Popular Jewellery</h2>
      </div>
      <div class="col-lg-3 text-end ">
        <span class="right-hr d-block"></span>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">
        <div class="card   card-1 border-0 rounded-0 card-1">
          <div class="card-body text-center">
            <img src="image/fine_jewel5.avif" class="img-fluid ">
            <h6 class="card-title  text-center mt-1">RUBY RING</h6>

            <!-- modal button start -->
            <button class="btn  btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#myModalA">FOR 
              MORE</button>

            <!-- modal start-->
            <div class="modal fade " id="myModalA" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <button class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row g-0">

                        <div class="col-sm-6">
                        <h4 class="card-title fs-4 h4_residential mt-1">product description</h4>
                          <h6 class="h6_residential">5%off</h6>
                          <h5><i class="bi bi-currency-rupee"></i> 25000</h5>
                          <h6 class="h6_residential">OUT OF STOCK</h6>
                          <img src="image/fine_jewel5.avif" class="img-fluid mx-auto"
                            style=" height: 100px; width: 100px;">
                        </div>
                        <div class="col-lg-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4><h6 class="h6_residential">weight- 10gm</h6>
                          <h6 class="h6_residential">sku-b13</h6>
                          <h6 class="h6_residential">18K GOLD</h6>

                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-dark">ADD</button> -->
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">

        <div class="card   card-1 border-0 rounded-0">
          <div class="card-body text-center">
            <img src="image/highjewel1.avif" class="img-fluid ">
            <h6 class="card-title  text-center mt-1">RUBY RING</h6>

            <!-- modal button start -->
            <button class="btn  btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#myModalB">FOR
              MORE
            </button>

            <!-- modal start-->
            <div class="modal fade " id="myModalB" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <button class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row g-0">

                        <div class="col-sm-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">Product description</h4>
                          <h5><i class="bi bi-currency-rupee"></i>25000 </h5>
                          <h5>7%off</h5>

                          <img src="image/highjewel1.avif" class="img-fluid mx-auto"
                            style=" height: 100px; width: 100px;">
                        </div>
                        <div class="col-lg-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4><h6 class="h6_residential">weight- 15gm</h6>
                          <h6 class="h6_residential">sku-b14</h6>
                          <h6 class="h6_residential">18K GOLD</h6>

                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-dark">ADD</button> -->
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- modal end-->
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">
        <div class="card   card-1 border-0 rounded-0 text-center">
          <div class="card-body">
            <img src="image/highjewel2.avif" class="img-fluid ">
            <h6 class="card-title  text-center mt-1">DIAMOND NECKLACE</h6>

            <!-- modal button start -->
            <button class="btn  btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#myModalC">FOR
              MORE
            </button>

            <!-- modal start-->
            <div class="modal fade " id="myModalC" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <button class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row g-0">

                        <div class="col-sm-6 ">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4>
                          <H5>6%oFF</H5>
                          <h5><i class="bi bi-currency-rupee"></i> 85000</h5>

                          <img src="image/highjewel2.avif" class="img-fluid mx-auto"
                            style=" height: 100px; width: 100px;">
                        </div>
                        <div class="col-lg-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4><h6 class="h6_residential">weight- 35gm</h6>
                          <h6 class="h6_residential">sku-b15</h6>
                          <h6 class="h6_residential">20K GOLD</h6>

                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-dark">ADD</button> -->
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- modal end-->
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">

        <div class="card   card-1 border-0 rounded-0 text-center">
          <div class="card-body">
            <img src="image/highjewel3.avif" class="img-fluid ">
            <h6 class="card-title  text-center mt-1">PLATINUM NECKLACE</h6>

            <!-- modal button start -->
            <button class="btn  btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#myModalD">FOR
              MORE
            </button>

            <!-- modal start-->
            <div class="modal fade " id="myModalD" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <button class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row g-0">

                        <div class="col-sm-6">
                          <h4 class="card-title fs-4 card-1 mt-1">PLATINUM NECKLACE</h4>
                          <h5>5%Off</h5>
                          <h5><i class="bi bi-currency-rupee"></i> 55000</h5>
                          <img src="image/highjewel3.avif" class="img-fluid mx-auto"
                            style=" height: 100px; width: 100px;">
                        </div>
                        <div class="col-lg-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4><h6 class="h6_residential">weight- 25gm</h6>
                          <h6 class="h6_residential">sku-b16</h6>
                          <h6 class="h6_residential">23K GOLD</h6>

                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-dark">ADD</button> -->
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- modal end-->
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">
        <div class="card   card-1 border-0 rounded-0 text-center">
          <div class="card-body">
            <img src="image/earring1.jpg" class="img-fluid ">
            <h6 class="card-title  text-center mt-1">EAR RING</h6>

            <!-- modal button start -->
            <button class="btn  btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#myModalE">FOR
              MORE
            </button>

            <!-- modal start-->
            <div class="modal fade " id="myModalE" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <button class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row g-0">

                        <div class="col-sm-6 ">

                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4>
                          <h5>10%Off</h5>
                          <h5><i class="bi bi-currency-rupee"></i> 55000</h5>
                          <img src="image/earring1.jpg" class="img-fluid mx-auto" style=" height: 100px; width: 100px;">
                        </div>
                        <div class="col-lg-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4><h6 class="h6_residential">weight- 15gm</h6>
                          <h6 class="h6_residential">sku-b17</h6>
                          <h6 class="h6_residential">24K GOLD</h6>

                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-dark">ADD</button> -->
                  </div>


                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- modal end-->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">
        <div class="card   card-1 border-0 rounded-0 text-center">
          <div class="card-body">
            <img src="image/earring2.jpg" class="img-fluid ">

            <h6 class="card-title  text-center mt-1 text-center">EAR RING</h6>
            <!-- modal button start -->
            <button class="btn  btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#myModalF">FOR
              MORE
            </button>

            <!-- modal start-->
            <div class="modal fade " id="myModalF" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <button class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row g-0">

                        <div class="col-sm-6 ">
                          <h4 class="card-title fs-4 h4_residential mt-1">EAR RING</h4>
                          <h5>10%Off</h5>
                          <h5><i class="bi bi-currency-rupee"></i> 55000</h5>

                          <img src="image/earring2.jpg" class="img-fluid mx-auto" style=" height: 100px; width: 100px;">
                        </div>
                        <div class="col-lg-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4><h6 class="h6_residential">weight- 25gm</h6>
                          <h6 class="h6_residential">sku-b17</h6>
                          <h6 class="h6_residential">23K GOLD</h6>

                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-dark">ADD</button> -->
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- modal end-->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">
        <div class="card   card-1 border-0 rounded-0 text-center">
          <div class="card-body">
            <img src="image/dring1.avif" class="img-fluid ">
            <h6 class="card-title  text-center mt-1"> RING</h6>

            <!-- modal button start -->
            <button class="btn  btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#myModalG">FOR MORE
            
            </button>

            <!-- modal start-->
            <div class="modal fade " id="myModalG" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <button class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row g-0">

                        <div class="col-sm-6 ">
                          <h4 class="card-title fs-4 h4_residential mt-1">product description</h4>
                          <h5>7%Off</h5>
                          <h5><i class="bi bi-currency-rupee"></i> 55000</h5>

                          <img src="image/dring1.avif" class="img-fluid mx-auto" style=" height: 100px; width: 100px;">
                        </div>
                        <div class="col-lg-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4><h6 class="h6_residential">weight- 25gm</h6>
                          <h6 class="h6_residential">sku-b16</h6>
                          <h6 class="h6_residential">23K GOLD</h6>

                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-outline-dark">ADD</button>
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- modal end-->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-12  img">
        <div class="card   card-1 border-0 rounded-0 text-center">
          <div class="card-body">
            <img src="image/dring4.avif" class="img-fluid ">
            <h6 class="card-title  text-center mt-1"> RING</h6>

            <!-- modal button start -->
            <button class="btn  btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#myModalH">FOR MORE
              
            </button>

            <!-- modal start-->
            <div class="modal fade " id="myModalH" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <button class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row g-0">

                        <div class="col-sm-6 ">
                          <h4 class="card-title fs-4 h4_residential mt-1">product description</h4>
                          <h5>6%oFF</h5>

                          <img src="image/fine_jewel6.avif" class="img-fluid mx-auto"
                            style=" height: 100px; width: 100px;">
                        </div>
                        <div class="col-lg-6">
                          <h4 class="card-title fs-4 h4_residential mt-1">product details</h4><h6 class="h6_residential">weight- 25gm</h6>
                          <h6 class="h6_residential">sku-b16</h6>
                          <h6 class="h6_residential">23K GOLD</h6>

                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" class="btn btn-outline-dark">ADD</button> -->
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- modal end-->
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- our popular product end -->


  <!-- hallmark START -->

  <div class="container py-4 mt-lg-2  ">

    <div class="row py-2">

      <div class="col-lg-6 mx-auto text-center ">
        <h2 class="p-carousel">OUR CERTIFICATION</h2>
        <img src="png/divider.png" class="img-fluid">

      </div>

    </div>

  </div>


  <div class="container py-4 ">
    <div class="row py-4">
      <div class="col-lg-12 mx-auto text-center">
        <img src="image/hallmark1.png" width="100%">
      </div>
    </div>
  </div>
  <!--hALLMARK END  --><!-- carousel section start -->

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-lg-12">

        <div id="mycarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

          <div class="carousel-indicators">
            <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="0" aria-current="true"
              aria-label="slide1" class="active"></button>
            <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="1" aria-label="slide2"></button>
            <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="2" aria-label="slide3"></button>
          </div>
          <!-- CAROUSEL INNER START -->
          <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="2000">
              <img src="carousel/slider1.png" class="d-block w-100" style="height: 380px;">
            </div>

            <div class="carousel-item " data-bs-interval="2000">
              <img src="carousel/slider2.jpg" class="d-block w-100" style="height: 380px;">
            </div>


            <div class="carousel-item" data-bs-interval="2000">
              <img src="carousel/slider3.jpg" class="d-block w-100" style="height: 380px;">
            </div>

            <button type="button" class="carousel-control-prev" data-bs-target="#mycarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon " aria-hidden="true"> </span>
              <span class="visually-hidden">previous</span>
            </button>

            <button type="button" class="carousel-control-next" data-bs-target="#mycarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"> </span>
              <span class="visually-hidden">next</span>
            </button>
          </div>
          <!-- CAROUSEL INNER END -->
        </div>

      </div>
    </div>
  </div>

  <!-- carousel section end -->

  <!-- showroom gallery start -->


  <div class="blackbg mt-5">
    <div class="container py-3">
      <div class="row g-0">
        <div class="col-lg-12 text-center">
          <h2 class="p-carousel text-white text-center">SHOWROOM <i>GALLERY</i></h2>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-lg-4"><img src="image/about2.jpg" class="img-fluid"></div>
        <div class="col-lg-4"><img src="image/about3.jpg" class="img-fluid"></div>

        <div class="col-lg-4"><img src="image/about4.jpg" class="img-fluid"></div>
      </div>
    </div>
  </div>

  <!-- showroom gallery end -->

  <!-- director mesage start-->

  <div class="container-fluid">
    <div class="row mt-2">
      <div class="col-lg-10 col-md-12 col-sm-12 col-12  m-auto text-center bg-2 ">
        <h2 class="p-carousel text-white text-start">Director's <i>message</i></h2>
        <p class="text-white text-start h3_director lead py-5 fw-500 ">Design is the heart of our brand<br> our
          customers are the soul <br> Our goal is to continue being<br> the pioneer in the luxury<br> jewelry industry
          with the highest<br> standard of products and services,<br> that changes the outlook of jewelry<br> in Delhi
          forever.</p>
        <h5 class="text-start text-white lead fw-500 h5_name">Rohan Chauhan</h5>
        <h5 class="text-start text-white lead fw-500 h5_founder">Founder</h5>
        <h6 class="text-start text-white lead fw-semibold h5_brand">Chauhan jewellers</h6>


      </div>
    </div>
  </div>
  <!-- director message end -->


  <!-- NEWSLETTER SECTION START -->
  <div class="newsletter mt-4">
    <div class="container py-4">
      <div class="row py-4">

        <div class="col-lg-6 border mx-auto text-center">
          <h3 class="text-white fw-light fs-3 h3_newsletter">NewsLetter</h3>
          <form class="d-flex" method="post" action="/subscribed">
            <input class="form-control me-2 border rounded-0" name="subscribed" type="text" placeholder="Email Address">
            <button class="btn btn-outline-dark text-dark bg-light btn-warning border rounded-0"
              type="submit">Subscribe</button>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- NEWSLETTER SECTION END -->



  <!-- TESTIMONIAL SECTION START -->


  <!--main container start -->
  <div class="container-fluid">

    <!-- main row start -->
    <div class="row ">

      <!--main col-12 start-->
      <div class="col-lg-12">

        <!-- main carousel start -->
        <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">

          <!-- carousel inner start-->
          <div class="carousel-inner">

            <!-- carousel item start -->
            <div class="carousel-item active" data-bs-intervel="4000">

              <!-- carousal container strt -->
              <div class="container mt-5">
                <!--carousal row start  -->
                <div class="row justify-content-center">

                  <!-- col-lg-4 start -->
                  <div class="col-sm-12 col-md-4 test">

                    <!-- card start -->
                    <div class="card text-center " style="width: 100%; height: 400px;">
                      <div class="card-body">
                        <img src="image/t2.avif" class="card-img-top mx-auto border rounded-circle shadow-1-strong"
                          style="width:150px; height:150px; ">
                        <h4 class="card-title lead fw-bold ">sonali</h4>
                        <h6 class="card-subtitle fw-semibold">Vlogger</h6>
                        <p class="card-text lead mt-lg-2 ">good staff and management.</p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-half"></i></li>
                        </ul>
                      </div>
                    </div>
                    <!--card end -->

                  </div>
                  <!-- col-lg-4 end -->

                  <!-- col-lg-4 start -->
                  <div class="col-sm-12 col-md-4 test">

                    <!-- card start -->
                    <div class="card text-center " style="width: 100%; height: 400px;">
                      <div class="card-body ">
                        <img src="image/t1.avif" class="mx-auto border rounded-circle shadow-1-strong"
                          style="width:150px; height:150px; ">
                        <h4 class="card-title lead fw-bold ">Arjun</h4>
                        <h6 class="card-subtitle fw-semibold">Doctor</h6>
                        <p class="card-text lead mt-lg-2 ">I had a Great Experience</p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-half"></i></li>
                        </ul>
                      </div>
                    </div>
                    <!--card end -->

                  </div>
                  <!-- col-lg-4 end -->

                  <!-- col-lg-4 start -->
                  <div class="col-sm-12 col-md-4 test">

                    <!-- card start -->
                    <div class="card text-center " style="width: 100%; height: 400px;">
                      <div class="card-body">
                        <img src="image/t5.avif" class="card-img-top mx-auto border rounded-circle shadow-1-strong"
                          style="width:150px; height:150px; ">
                        <h4 class="card-title lead fw-bold ">Ishika</h4>
                        <h6 class="card-subtitle fw-semibold">Student</h6>
                        <p class="card-text lead mt-lg-2 ">They are not a brand only,they are Legacy</p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-half"></i></li>
                        </ul>
                      </div>
                    </div>
                    <!--card end -->

                  </div>
                  <!-- col-lg-4 end -->

                </div>
                <!-- carousal row strt -->
              </div>
              <!-- carousal container end -->

            </div>
            <!-- carousel item end -->


            <!-- carousel item start -->
            <div class="carousel-item " data-bs-intervel="4000">

              <!-- carousal container strt -->
              <div class="container mt-5">
                <!--carousal row start  -->
                <div class="row justify-content-center">

                  <!-- col-lg-4 start -->
                  <div class="col-sm-12 col-md-4 test">

                    <!-- card start -->
                    <div class="card text-center "
                      style="width: 100%; height: 400px; box-shadow: 1px 1px 30px #b1aeae;">
                      <div class="card-body ">
                        <img src="image/t4.avif" class="card-img-top mx-auto border rounded-circle shadow-1-strong"
                          style="width:150px; height:150px; ">
                        <h4 class="card-title lead fw-bold ">Riya</h4>
                        <h6 class="card-subtitle fw-semibold">housewive</h6>
                        <p class="card-text lead mt-lg-2 ">i loved my jewellery</p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-half"></i></li>
                        </ul>
                      </div>
                    </div>
                    <!--card end -->

                  </div>
                  <!-- col-lg-4 end -->

                  <!-- col-lg-4 start -->
                  <div class="col-sm-12 col-md-4 test">

                    <!-- card start -->
                    <div class="card text-center" style="width: 100%; height: 400px; box-shadow: 1px 1px 30px #b1aeae;">
                      <div class="card-body">
                        <img src="image/t3.avif" class="card-img-top mx-auto border rounded-circle shadow-1-strong "
                          style="width:150px; height:150px;">
                        <h4 class="card-title lead fw-bold ">Kunal</h4>
                        <h6 class="card-subtitle fw-semibold"> Businessman</h6>
                        <p class="card-text lead mt-lg-2 "> Please visit once,i had great experience</p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-half"></i></li>
                        </ul>
                      </div>
                    </div>
                    <!--card end -->


                  </div>
                  <!-- col-lg-4 end -->

                  <!-- col-lg-4 start -->
                  <div class="col-sm-12 col-md-4 test">

                    <!-- card start -->
                    <div class="card text-center"
                      style="width: 100%; height: 400px; box-shadow: 1px 1px 30px #b1aeae; ">
                      <div class="card-body">
                        <img src="image/t6.avif" class="card-img-top mx-auto border rounded-circle shadow-1-strong"
                          style="width:150px; height:150px; ">
                        <h4 class="card-title lead fw-bold ">preeti</h4>
                        <h6 class="card-subtitle fw-semibold">engineer</h6>
                        <p class="card-text lead mt-lg-2 ">we love chauhan jewellers service</p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-fill"></i></li>
                          <li><i class="bi bi-star-half"></i></li>
                        </ul>
                      </div>
                    </div>
                    <!--card end -->

                  </div>
                  <!-- col-lg-4 end -->

                </div>
                <!-- carousal row end -->
              </div>
              <!-- carousal container end -->


            </div>
            <!-- carousel item end -->


          </div>
          <!-- carousel inner end -->

          <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
        <!--main carousel end -->

      </div>
      <!--main col-12 end -->

    </div>
    <!-- main row end-->

  </div>
  <!-- main container end -->
  <!-- </p> -->


  <!-- TESTIMONIAL SECTION END -->


<!-- REQUEST SECTION START -->

<div class="container py-3">

  <div class="row p-3">
    
  <div class="col-lg-5 col-md-12 col-sm-12 col-12 mx-auto text-center">
    <h2 >REQUEST A VISIT</h2>
  </div>
  
  </div>
  
  <div class="row">
      <div class="col-sm-12">
      <form name =f2 method="post" action="/visit">
    <div class="mb-3">
      <label  class="form-label">Email address</label>
      <input type="email" name="emailnew" class="form-control  border rounded-0"  placeholder="enter your email">
      <div  class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label  class="form-label">Phone</label>
      <input type="text"  name="phonenew"class="form-control border rounded-0" >
    </div>
    <label for="comment">Your Query:</label>
    <textarea class="form-control border rounded-0" rows="5" name="querynew"></textarea>
    <p class="text-center"><button type="submit" class="btn btn-warning btn-lg border btn-lg rounded-0">SUBMIT</button><p>
  </form>
      </div>
    </div>
  </div>
  
  
  
  <!-- REQUEST SECTION END -->
  
  
  <footer>  <%- include('./common/footer.ejs')%>  </footer>


</body>

</html>