<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about us</title>
</head>

<body>
  <header> <%- include('./common/header.ejs')%></header>
  <!-- login form start -->
  <div class="container-fluid py-5">

    <div class="row py-5">

      <div class="col-lg-4 mx-auto border border-2 boredr-secondary" id="contact">

        <form action="/login" name="f_3 " method="post">

          <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control border rounded-3" name="email" 
              placeholder="Enter email or phone number"/>
          </div>

          <div class="mb-3">
            <label for="pass">Password:</label>
            <input type="password" class="form-control border rounded-3" name="password" 
              placeholder="Enter password"/>
          </div>

          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="check" id="check"/> Remember me
            </label>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" name="submit" class="btn btn-success ">Login</button>
          </div>
        </form>
        <!-- login form end -->

        <!-- modal start -->
        <div class="text-center my-3">

          <button class="btn btn-primary" data-bs-target="#mymodal" data-bs-toggle="modal">Create new account</button>
        </div>

        <div class=" modal fade" id="mymodal">

          <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

              <div class="modal-header">

                <!-- <h4 class="text-primary text-center"></h4> -->
                <button class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <!-- model body -->
              <div class="modal-body">

                <form class="row g-3 p-3" method="post" action="/signup">

                  <div class="col-md-4">
                    <label for="validationDefault02" class="form-label">name</label>
                    <input type="text" class="form-control" name="name"/>
                  </div>        

                  <div class="col-md-4">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email"/>
                  </div>

                  <div class="col-md-4">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" />
                  </div>

                  <div class="col-md-4">
                    <label for="inputnumber4" class="form-label">contact</label>
                    <input type="number" class="form-control" name="number" />
                  </div>


                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="check" id="gridCheck"/>
                      <label class="form-check-label" for="gridCheck">
                        Remember me
                      </label>
                    </div>
                  </div>

                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-success text-center">Sign Up</button>
                  </div>

                </form>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </body>
              



              <footer> <%- include('./common/footer.ejs')%> </footer>
</body>

</html>